<!doctype html>
<html>
<head>
    <title>iTrack</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="signupStyle.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
      <div class="headerLogo">
        <h1>Prioritize Your Bills</h1>
      </div>
      <div class="headerInstructions">
        <h2>Bigger, Better, Faster,</h2>
        <h3>You can save your own custom bills.  Then come back and view them whenver you like.</h3>
      </div>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <% if (user.local.email) { %>
                    <p>
                        <p>Acount Info</p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>email</strong>: <%= user.local.email %><br>
                        <!-- <strong>password</strong>: <%= user.local.password %> -->
                    </p>
                    <p>Click to remove your account<a href="/unlink/local" class="btn btn-default">DELETE</a></p>
                    <!-- <a href="/unlink/local" class="btn btn-default">DELETE</a> -->
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div>
        <div class="col-sm-6">
          <h2>Bills to Pay</h2>
          <div class="">
            <h3>Add A Bill</h3>
          </div>
          <div class="">
            <% if (user.local.email) { %>
            <form action="/bills" method="POST">
              <input type="text" placeholder="bill name" name="name">
              <input type="number" placeholder="amount" name="price" step=".01" value="">
              <button type="submit">Submit</button>
            </form>
            <% } %>
          </div>


          <span>Thumbs up for PAID - Check off to delete</span>
          <ul class="messages">
          <% for(var i=0; i<bills.length; i++) {%>
            <li class="message">
              <span><%= bills[i].name %></span>
              <span><%= bills[i].price %></span>
              <span><%= bills[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <!-- <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
              <span><i class="fas fa-ban"></i></span>
            </li>
          <% } %>
          </ul>

        <span>$<span class="billTotal"></span></span>
          <% if (user.local.email) { %>
            <section class="getYourTotal">Click for total</section>
          <% } %>


        </div>
</div>

<script src="main.js"></script>

</body>
</html>
